$color-blue-light: #4056f4;
$color-blue-dark: #470ff4;
$color-grey-light: #f7f7f7;
$color-grey-medium: #cebbc9;
$color-grey-dark: #333333;
$color-red-light: #ce6d8b;
$color-red-dark: #ce2d4f;
$color-shadow: #33333325
